# Vercel KV
KV_REST_API_URL=
KV_REST_API_TOKEN=

# NextAuth (Google OAuth)
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-random-secret-here
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# PayPal
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=

# QuickPay (Mongolia)
QUICKPAY_MERCHANT_ID=
QUICKPAY_API_KEY=

# Google AdSense
NEXT_PUBLIC_ADSENSE_CLIENT_ID=pub-9229343153108946

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
ADMIN_EMAIL=your-admin-email@gmail.com